.weather
{
    background-color: #fffa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}
.weather_title
{
    font-size: 2.5rem;
}
.weather_city
{
    font-size: 1.25rem;
}
.weather_container1,
.weather_container1 > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather_clouds
{
    margin: 15px 0;
}
.weather__info
{
    width: 200px;
}
.weather_info li
{
    margin: 5px 0;
    display: grid;
    grid-template-columns: 6fr 3fr;
    
}
.weather_temp
{
    margin: 10px 0;
    text-align: center;
}
.weather_btn
{
    background-color: rgb(236, 138, 11);
    color: rgb(1, 8, 14);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .25s,
                box-shadow  .25s;
}
.weather_btn:hover
{
    transform: scale(1.1);
    box-shadow: -2px 2px 5px  black;
    transition: transform .25s,
                box-shadow  .25s;
}
@media screen and (min-width: 768px) {

    .weather
    {
        width: 500px;
    }
    .weather_container1
    {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .weather_img
    {
        height: 200px;
        width: 200px;
    }
}
@media screen and (min-width: 1024px) {

    .weather
    {
        width: 750px;
    }
    .weather_container1
    {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .weather_img
    {
        height: 275px;
        width: 275px;
    }
    .weather_info li
    {
        font-size: 1.5rem;
    }
    .weather_btn
    {
       font-size: 1.5rem; 
    }
    .weather_temp {
        font-size: 1.5rem;
    }
}